<template>
  <div class="list-item">
    <span class="budget-comment">{{ item.comment }}</span>
    <span class="budget-value" :class="setValueColor">{{ item.value }}</span>
    <template v-if="item.type==='INCOME'">
      <ElIcon class="el-icon el-icon-top" />
    </template>
    <template v-else>
      <ElIcon class="el-icon el-icon-bottom" />
    </template>
    <ElButton type="danger" size="mini" @click="dialogVisible = true">Delete</ElButton>
    <el-dialog
        title="Вы точно хотите удалить?"
        :visible.sync="dialogVisible"
        width="30%">
      <span>{{ item.type }} {{ item.comment }} = {{ item.value }}</span>
      <span slot="footer" class="dialog-footer">
    <el-button @click="dialogVisible = false">Cancel</el-button>
    <el-button type="primary" @click="dialogVisible = false, deleteItem(item.id)">Confirm</el-button>
  </span>
    </el-dialog>
  </div>
</template>


<script>
import {  mapActions  } from "vuex";
export default {
  name: "BudgetListItem",
  data() {
    return {
      dialogVisible: false
    };
  },
  props: {
    item: {
      type: Object,
      default: () => ({}),
    },
  },
  methods: {
    ...mapActions("balanceStore", ["deleteBalanceItem"]),
    deleteItem(id) {
      this.deleteBalanceItem(id);
    }
  },
  computed: {
    setValueColor() {
      return {
        "green" : this.item.type === "INCOME",
        "red": this.item.type === "OUTCOME",
      }
    }
  }
}
</script>

<style scoped>
.list-item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
}
.budget-value {
  font-weight: bold;
  margin-left: auto;
  margin-right: 5px;
}
.el-icon {
  font-weight: bold;
  margin-right: 15px;
}

.green {
  color: green;
}
.red {
  color: red;
}

</style>