<template>
  <div class="budget-list-wrap">
    <ElCard :header="header">
      <template v-if="!isEmpty">
        <BudgetListItem v-for="(item, prop) in list" :key="prop" :item="item" @deleteItem="onDeleteItem" />
<!--        <div v-for="(item, prop) in list" :key="prop">-->
<!--          <span class="budget-comment">{{ item.comment }}</span>-->
<!--          <span class="budget-value">{{ item.value }}</span>-->
<!--          <ElButton type="danger" size="mini" @click="deleteItem(item.id)">Delete</ElButton>-->
<!--        </div>-->
      </template>
      <ElAlert :closable="false" v-else type="info" :title="emptyTitle" />
    </ElCard>
  </div>
</template>

<script>
import BudgetListItem from "@/components/BudgetListItem";
import { mapGetters } from "vuex";

export default {
  name: "BudgetList",
  components: {
    BudgetListItem,
  },

  props: {
    list: {
      type: Object,
      default: () => ({}),
    },
  },
  data: () => ({
    header: "Budget List",
    emptyTitle: "Empty List",
  }),
  computed: {
    ...mapGetters("balanceStore", ["balanceList"]),
    isEmpty() {
      return !Object.keys(this.list).length;
    },
  }
};
</script>

<style scoped>
.budget-list-wrap {
  max-width: 500px;
  margin: auto;
}
</style>