<template>
  <ElCard class="form-card">
    <ElForm :model="formData" ref="addItemForm" :rules="rules" label-position="top">
      <ElFormItem label="Type" prop="type">
        <ElSelect class="type-select" v-model="formData.type" placeholder="Choose type...">
          <ElOption label="Income" value="INCOME"/>
          <ElOption label="Outcome" value="OUTCOME"/>
        </ElSelect>
      </ElFormItem>
      <ElFormItem label="Comments" prop="comment">
        <ElInput v-model="formData.comment" />
      </ElFormItem>
      <ElFormItem label="Value" prop="value">
        <ElInput v-model.number="formData.value" />
      </ElFormItem>
      <ElButton type="primary" @click="onSubmit">Submit</ElButton>
    </ElForm>
  </ElCard>
</template>

<script>
let checkValue = (rule, value, callback) => {
  if (!value) {
    return callback(new Error('Please input the number greater than 0'));
  }
  setTimeout(() => {
    if (!Number.isInteger(value)) {
      callback(new Error('Please input digits'));
    } else {
      if (value <= 0) {
        callback(new Error('Please input the number greater than 0'));
      } else {
        callback();
      }
    }
  }, 100);
};
import { mapActions } from "vuex";
export default {
  name: "FormBlock",
  data: () => ({

    formData: {
      type: "INCOME",
      comment: "",
      value: 0,
    },
    rules: {
      type: [{ required: true, message: "Please select type", trigger: "blur"}],
      comment: [{ required: true, message: "Please input comment", trigger: "change" }],
      value: [{ validator: checkValue, trigger: 'change' }]
    }
  }),
  methods: {
    ...mapActions("balanceStore", ["addBalanceItem"]),
    onSubmit() {
      this.$refs.addItemForm.validate(valid => {
        if (valid) {
          this.addBalanceItem(this.formData);
          this.$refs.addItemForm.resetFields();
        }
      })
    }
  },
}
</script>

<style scoped>
.form-card {
  max-width: 500px;
  margin: auto;
}

.type-select {
  width: 100%;
}
</style>