<template>
  <div class="total-value" :class="setColor">Balance: {{ totalBalance }}</div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "TotalBalance",
  computed: {
    ...mapGetters("balanceStore", ["balanceList"]),
    totalBalance() {
      let total = 0;
      Object.values(this.balanceList).forEach(item => {
        total = (item.type === "INCOME") ? total + item.value : total - item.value;
      })
      return total;
    },
    setColor() {
      return {
        "green" : this.totalBalance > 0,
        "red": this.totalBalance < 0,
      }
    }
  }
}
</script>

<style scoped>
.total-value {
  font-size: 26px;
  text-transform: uppercase;
  padding: 20px;
  text-align: center;
}

.red {
  color: red;
}

.green {
  color: green;
}
</style>