<template>
  <div id="app">
    <FormBlock />
    <TotalBalance />
    <div class="list-sort">
      <el-button @click="listSort('OUTCOME')">Только расходы</el-button>
      <el-button @click="listSort('INCOME')">Только доходы</el-button>
      <el-button @click="listSort('ALL')" >Показать все</el-button>
    </div>
    <BudgetList :list="renderList"/>
  </div>
</template>

<script>
import BudgetList from "@/components/BudgetList";
import TotalBalance from "@/components/TotalBalance";
import FormBlock from "@/components/FormBlock";
import { mapGetters } from "vuex";

export default {
  name: 'App',
  components: {
    FormBlock,
    BudgetList,
    TotalBalance,
  },
  data: () => ({
    listStatus: "ALL",
  }),
  computed: {
    ...mapGetters("balanceStore", ["balanceList"]),
    renderList() {
      if (this.listStatus === "ALL") return this.balanceList;
      const filteredList = { };
        Object.values(this.balanceList).forEach(item => {
          if (item.type === this.listStatus) {
            this.$set(filteredList, item.id, item);
          }
        })
        return filteredList;
    }

  },
  methods: {
    listSort(type) {
      this.listStatus = type;
    },
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
